

<div id="InsertOrUpdateFloor" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">Cập nhật tầng/ lầu</h4>
            </div>
            <div class="modal-body form-horizontal ">
                <div class="">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <div class="form-group">
                                <label for="txtgiaphong1" class="col-sm-3 control-label">
                                    Tên tầng:
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" id="txtgiaphong1" class="col-sm-9 col-xs-10 input-sm" placeholder="Tên Phòng" ng-model="Floor.Name">
                                </div>
                            </div>

                            <div class="form-group" ng-hide="Floor.Id>0">
                                <label for="txtgiaphong1" class="col-sm-3 control-label">
                                    Số phòng:
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" id="txtgiaphong1" class="col-sm-9 col-xs-10 input-sm" placeholder="Số phòng" ng-model="Floor.NumRooms">
                                </div>
                            </div>
                            <div class="form-group" ng-hide="Floor.Id>0">
                                <label for="txgiuong" class="col-sm-3 control-label">
                                    Loại phòng:
                                </label>
                                <div class="col-sm-9">
                                    <select ng-model="Floor.RoomClassId" ng-options="row.Id as row.Name for row in RoomClassList" class="col-sm-9">
                                        <option value="">--- Chọn loại phòng ---</option>
                                    </select>

                                </div>
                            </div>
                          
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" ng-click="InsertOrUpdateFloor()">Cập nhật</button>
                <button type="button" class="btn btn-default active" data-dismiss="modal">Hủy</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>