<div id="printContent" style="display:none">
    <header class="clearfix">
        <div id="logo">
            <img src="@MyFinance.Utils.WorkContext.BizKasaContext.Logo">
        </div>
        <div id="company" ng-init="GetHotelInfo()">
            <h2 class="name">{{Hotel.Name}}</h2>
            <div>{{Hotel.Address}}</div>
            <div>{{Hotel.Phone}}</div>
            <div><a href="mailto:{{Hotel.Email}}">{{Hotel.Email}}</a></div>
        </div>

    </header>

    <div id="details" class="clearfix">
        <div id="client">
            <div class="to">KHÁCH HÀNG:</div>
            <h2 class="name">{{Invoice.CustomerName}}</h2>
            <div class="address">{{Invoice.Address}}</div>
            <div class="email"><a href="mailto:{{Invoice.Email}}">{{Invoice.Email}}</a></div>
        </div>
        <div id="invoice">
            <h1>HÓA ĐƠN THANH TOÁN</h1>
            <div class="date">Ngày tạo: {{Invoice.CreatedDate|date:"dd/MM/yyyy"}} </div>
            @*<div class="date">Due Date: 30/06/2014</div>*@
        </div>
    </div>
    <table border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th class="no">#</th>
                <th class="desc">Dịch vụ</th>
                <th class="unit">Diễn giải</th>
                <th class="qty">Thành tiền (vnđ)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in Invoice.InvoiceDetails">
                <td class="no">{{$index+1}}</td>
                <td class="desc" style="white-space:pre-line;"> {{row.Descriptions}}</td>
                <td class="unit"> {{row.Notes}}</td>
                <td class="qty">{{row.SubAmount|number}}</td>
            </tr>


        </tbody>
        <tfoot>

            <tr>
                <td></td>
                <td colspan="2">Tổng thanh toán</td>
                <td>{{Invoice.TotalAmount|number}}</td>
            </tr>
        </tfoot>
    </table>
    <div id="thanks">Trân trọng cảm ơn!</div>
    <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
    </div>

</div>