<!DOCTYPE html>
<!--[if IE 8]><html class="ie ie8"> <![endif]-->
<!--[if IE 9]><html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<html>
 <!--<![endif]-->
<!-- Mirrored from bizkasa.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 31 Aug 2015 02:27:07 GMT -->
<!-- Added by HTTrack -->

<head>
    <!-- Basic -->
    <base />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="quan ly khach san, quan ly khach san online, phan mem quan ly khach san" />
    <meta name="generator" content="Phan mem quan ly khach san online" />
    <title>PHẦN MỀM QUẢN LÝ KHÁCH SẠN ONLINE</title>
    <link href="index.html" rel="canonical" />
    <link href="~/Content/V1/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <script src="~/Content/V1/media/jui/js/jquery.min.js.pagespeed.jm.YSzgc-BSX9.js" type="text/javascript"></script>
    <script type="text/javascript">//<![CDATA[
        jQuery.noConflict();
        //]]></script>
    <script src="~/Content/V1/media/jui/js/jquery-migrate.min.js.pagespeed.jm.mhpNjdU8Wl.js" type="text/javascript"></script>
    <script src="~/Content/V1/com_virtuemart/assets/js/jquery-ui.min.js.pagespeed.jm.ATLVmv-qGg.js" type="text/javascript"></script>
    <script type="text/javascript">
//<![CDATA[
        (function ($) {
            var proto = $.ui.autocomplete.prototype, initSource = proto._initSource; function filter(array, term) { var matcher = new RegExp($.ui.autocomplete.escapeRegex(term), "i"); return $.grep(array, function (value) { return matcher.test($("<div>").html(value.label || value.value || value).text()); }); }
            $.extend(proto, { _initSource: function () { if (this.options.html && $.isArray(this.options.source)) { this.source = function (request, response) { response(filter(this.options.source, request.term)); }; } else { initSource.call(this); } }, _renderItem: function (ul, item) { return $("<li></li>").data("item.autocomplete", item).append($("<a></a>")[this.options.html ? "html" : "text"](item.label)).appendTo(ul); } });
        })(jQuery);
        //]]></script>
    <script type="text/javascript" async="async">//<![CDATA[
        jQuery.noConflict();
        //]]></script>
    <script src="~/Content/V1/com_virtuemart/assets/js/vmsite.js%2cqvmver%3d8578.pagespeed.jm.hOmezw8Cho.js" type="text/javascript"></script>
    <script src="~/Content/V1/com_virtuemart/assets/js/facebox.js%2cqvmver%3d8578.pagespeed.jm.y1ifhUMubu.js" type="text/javascript" defer="defer"></script>
    <script src="~/Content/V1/com_virtuemart/assets/js/vmprices.js%2cqvmver%3d8578.pagespeed.jm.GRy002iExx.js" type="text/javascript" defer="defer"></script>
    <script src="~/Content/V1/com_virtuemart/assets/js/chosen.jquery.min.js%2cqvmver%3d8578.pagespeed.ce.sqkyjXER_6.js" type="text/javascript"></script>
    <script src="~/Content/V1/com_virtuemart/assets/js/dynupdate.js%2cqvmver%3d8578.pagespeed.jm.lML0GFSdfS.js" type="text/javascript"></script>
    <script src="~/Content/V1/media/system/js/mootools-core.js.pagespeed.jm.ywlvbuicbl.js" type="text/javascript"></script>
    <script src="~/Content/V1/media/system/js/core.js.pagespeed.ce.mi00aBrxw8.js" type="text/javascript"></script>
    <script src="~/Content/V1/media/system/js/mootools-more.js.pagespeed.jm.-6O1zP2hFm.js" type="text/javascript"></script>
    <script type="text/javascript">var _rootURL = 'index.html'; var _baseURL = 'index.html'; var _themeURL = 'templates/v4/index.html';</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="YES" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="sScZQI6vWpMd1E1QFSxBIcin6md5YfwqYc3WavW4CEc" />
    <meta name="abstract" content="phan mem quan ly khach san online">
    <meta property="og:title" content="phan mem quan ly khach san online" />
    <meta property="og:site_name" content="phan mem quan ly khach san online" />
    <meta property="og:url" content="http://bizkasa.com" />
    <meta property="og:image" content="http://bizkasa/images/logo.png" />
    <meta property="og:description" content="phan mem quan ly khach san online" />
    <meta property="og:type" content="website" />
    <meta name="distribution" content="Global">
    <meta name="revisit-after" content="1 days">
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Lato:300,700,400' rel='stylesheet' type='text/css'>
    <!-- Libs CSS -->
    @*<link rel="stylesheet" href="~/Content/V1/vendor/bootstrap.css" />*@
    
    <link href="~/Content/V1/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="~/Areas/CPanelAdmin/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/CPanelAdmin/Content/css/toastr.css">
    <link rel="stylesheet" href="~/Content/V1/vendor/owl-carousel.css" media="screen" />
    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Content/V1/css/theme-page.css" />
    <!-- Current Page CSS -->
    <link rel="stylesheet" href="~/Content/V1/vendor/rs-plugin.css" media="screen" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/V1/css/theme-responsive-2.css" />
    <!-- Skin CSS -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/V1/css/custom.css" />
    <!-- Head Libs -->
    <script src="~/Content/V1/vendor/modernizr.js.pagespeed.jm.E0_hgpRSCm.js"></script>
    <!--[if IE]>
                <link rel="stylesheet" href="http://bizkasa.com/templates/v4/css/ie.css" />
        <![endif]-->
    <!--[if lte IE 8]>
                <script src="http://bizkasa.com/templates/v4/vendor/respond.js"></script>
        <![endif]-->
</head>
<body class="site com_virtuemart view-virtuemart layout-default no-task itemid-101">
    <div class="body">
        <header id="header">
            <div class="container">
                <h1 class="logo">
                    <a itemscope itemtype="http://schema.org/Organization" href="index.html" title="PHAN MEM QUAN LY KHACH SAN">
                        <img itemprop="logo" alt="PHAN MEM QUAN LY KHACH SAN" data-sticky-width="217" data-sticky-height="108" src="~/Content/V1/img/xlogo.png.pagespeed.ic.lxwrQp7JHh.png" />
                    </a>
                </h1>
                <div class="search">
                    <form id="searchForm" action="#" method="get" onsubmit="javascript: return false;">
                        <div class="input-group">
                            <input type="text" class="form-control search" name="q" id="q" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="icon icon-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <nav>
                    <ul class="nav nav-pills nav-top">
                        <li>
                            <a href="index.html" target="_blank"><i class="icon icon-angle-right"></i>Bạn cần quản lý khách sạn? </a>
                        </li>
                     
                        <li class="phone">
                            <span><i class="icon icon-phone"></i>Hotline: 0973 721 723</span>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="icon icon-bars icon-2x"></i>
                </button>
            </div>
            <!-- begin main menus -->
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">
                    <ul class="social-icons">
                        <li class="facebook"><a href="https://www.facebook.com/BizKasa-1705237289706227" target="_blank" title="Facebook">Facebook</a></li>
                        <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                        <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                    </ul>
                    <nav class="nav-main mega-menu">
                        <ul id="mainMenu" class="nav nav-pills nav-main menu">
                            <li class="item-101 current active">
                                <a class="" href="index.html">
                                    Trang chủ
                                </a>
                            </li>
                            <li class="item-103">
                                <a class="" href="javascript:">
                                    Tính năng
                                </a>
                            </li>
                            <li class="item-106">
                                <a class="" href="javascript:">
                                    Bảng giá
                                </a>
                            </li>
                            <li class="item-114">
                                <a class="" href="javascript:">
                                    Tuyển dụng
                                </a>
                            </li>
                            <li class="item-110">
                                <a class="" href="javascript:">
                                    Khách hàng
                                </a>
                            </li>
                            <li class="item-116">
                                <a class="" href="javascript:">
                                    Hướng dẫn
                                </a>
                            </li>
                            <li class="item-115">
                                <a class="" href="javascript:">
                                    Liên hệ
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- end main menus -->
        </header>
        @RenderBody()
        <!-- begin footer -->
        <footer id="footer">
            <!-- begin footer content -->
            <div class="container">
                <div class="row">
                    <div class="footer-ribbon">
                        <span>Về chúng tôi</span>
                    </div>
                    <div class="col-md-4">
                        <div class="newsletter">
                            <h4>Đăng ký nhận mail </h4>
                            <p>Hãy đăng ký để nhận được thông báo khuyến mại, cập nhật tính năng mới nhất từ chúng tôi.</p>
                            <div class="alert alert-success hidden" id="newsletterSuccess">
                                <strong>Đăng ký </strong>nhận mail thành công!
                            </div>
                            <div class="alert alert-danger hidden" id="newsletterError"></div>
                            <form id="newsletterForm">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Go Go!</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                   
                    <div class="col-md-4">
                        <div itemscope itemtype="http://schema.org/Organization" class="contact-details">
                            <meta itemprop="name" content="Phan Mem Quan Ly Khach San Online" />
                            <h4>Liên hệ</h4>
                            <ul class="contact" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <li><p itemprop="streetAddress"><i class="icon icon-map-marker"></i> <strong>Address:</strong> #Tòa nhà TMA Công viên phần mềm Quang Trung, Q12, HCMC - Vietnam</p></li>
                                <li><p itemprop="streetAddress"><i class="icon icon-map-marker"></i> <strong>Address 2:</strong> #15 Street Phan Dinh Phung, Duc Nghia Ward, Phan Thiet City, Binh Thuan Province - Vietnam</p></li>
                                <li><p itemprop="telephone"><i class="icon icon-phone"></i> <strong>Phone:</strong> (08) 628-339-88 / 0973 721 723</p></li>
                                <li><p itemprop="email"><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="mailto:hi@bizkasa.com">hi@bizkasa.com</a></p></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Mạng xã hội</h4>
                        <div class="social-icons">
                            <ul class="social-icons">
                                <li class="facebook"><a href="https://www.facebook.com/BizKasa-1705237289706227" target="_blank">Facebook</a></li>
                                <li class="twitter"><a href="http://www.twitter.com/" target="_blank" >Twitter</a></li>
                                <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" >Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <a href="index.html" class="logo">
                                <img alt="PHAN MEM QUAN LY KHACH SAN" class="img-responsive" src="~/Content/V1/img/xlogo.png.pagespeed.ic.lxwrQp7JHh.png">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <p>© Bản quyền thuộc về <a href="index.html" title="Phan mem quan ly khach san, quan ly khach san online"><label style="color: #2295D2">Biz</label> <label style="color: #F8931D">Kasa</label></a> 2015</p>
                            <p>Một sản phẩm của <a target="_blank" href="http://dhvsolutions.com/" title="Web outsourcing vietnam">DHV VietNam</a></p>
                        </div>
                        <div class="col-md-4">
                            <nav id="sub-menu">
                                <ul>
                                    <li><a href="index.html" target="_blank" title="Quản lý khách sạn Online">Bạn cần quản lý khách sạn? </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end footer content -->
        </footer>
        <!-- end footer -->
    </div>
    <!-- Libs -->
    <script src="~/Content/V1/vendor/jquery.easing.js.pagespeed.jm.A1dabUvSc4.js"></script>
  
    <script>
//<![CDATA[
        (function ($) {
            $.fn.appear = function (fn, options) {
                var settings = $.extend({ data: undefined, one: true, accX: 0, accY: 0 }, options); return this.each(function () {
                    var t = $(this); t.appeared = false; if (!fn) { t.trigger('appear', settings.data); return; }
                    var w = $(window); var check = function () {
                        if (!t.is(':visible')) { t.appeared = false; return; }
                        var a = w.scrollLeft(); var b = w.scrollTop(); var o = t.offset(); var x = o.left; var y = o.top; var ax = settings.accX; var ay = settings.accY; var th = t.height(); var wh = w.height(); var tw = t.width(); var ww = w.width(); if (y + th + ay >= b && y <= b + wh + ay && x + tw + ax >= a && x <= a + ww + ax) { if (!t.appeared) t.trigger('appear', settings.data); } else { t.appeared = false; }
                    }; var modifiedFn = function () {
                        t.appeared = true; if (settings.one) { w.unbind('scroll', check); var i = $.inArray(check, $.fn.appear.checks); if (i >= 0) $.fn.appear.checks.splice(i, 1); }
                        fn.apply(this, arguments);
                    }; if (settings.one) t.one('appear', settings.data, modifiedFn); else t.bind('appear', settings.data, modifiedFn); w.scroll(check); $.fn.appear.checks.push(check); (check)();
                });
            }; $.extend($.fn.appear, { checks: [], timeout: null, checkAll: function () { var length = $.fn.appear.checks.length; if (length > 0) while (length--) ($.fn.appear.checks[length])(); }, run: function () { if ($.fn.appear.timeout) clearTimeout($.fn.appear.timeout); $.fn.appear.timeout = setTimeout($.fn.appear.checkAll, 20); } }); $.each(['append', 'prepend', 'after', 'before', 'attr', 'removeAttr', 'addClass', 'removeClass', 'toggleClass', 'remove', 'css', 'show', 'hide'], function (i, n) { var old = $.fn[n]; if (old) { $.fn[n] = function () { var r = old.apply(this, arguments); $.fn.appear.run(); return r; } } });
        })(jQuery);
        //]]></script>
    
    <script>
//<![CDATA[
        (function (factory) { if (typeof define === 'function' && define.amd) { define(['jquery'], factory); } else { factory(jQuery); } }(function ($) {
            var pluses = /\+/g; function encode(s) { return config.raw ? s : encodeURIComponent(s); }
            function decode(s) { return config.raw ? s : decodeURIComponent(s); }
            function stringifyCookieValue(value) { return encode(config.json ? JSON.stringify(value) : String(value)); }
            function parseCookieValue(s) {
                if (s.indexOf('"') === 0) { s = s.slice(1, -1).replace(/\\"/g, '"').replace(/\\\\/g, '\\'); }
                try { s = decodeURIComponent(s.replace(pluses, ' ')); return config.json ? JSON.parse(s) : s; } catch (e) { }
            }
            function read(s, converter) { var value = config.raw ? s : parseCookieValue(s); return $.isFunction(converter) ? converter(value) : value; }
            var config = $.cookie = function (key, value, options) {
                if (value !== undefined && !$.isFunction(value)) {
                    options = $.extend({}, config.defaults, options); if (typeof options.expires === 'number') { var days = options.expires, t = options.expires = new Date(); t.setTime(+t + days * 864e+5); }
                    return (document.cookie = [encode(key), '=', stringifyCookieValue(value), options.expires ? '; expires=' + options.expires.toUTCString() : '', options.path ? '; path=' + options.path : '', options.domain ? '; domain=' + options.domain : '', options.secure ? '; secure' : ''].join(''));
                }
                var result = key ? undefined : {}; var cookies = document.cookie ? document.cookie.split('; ') : []; for (var i = 0, l = cookies.length; i < l; i++) {
                    var parts = cookies[i].split('='); var name = decode(parts.shift()); var cookie = parts.join('='); if (key && key === name) { result = read(cookie, value); break; }
                    if (!key && (cookie = read(cookie)) !== undefined) { result[name] = cookie; }
                }
                return result;
            }; config.defaults = {}; $.removeCookie = function (key, options) {
                if ($.cookie(key) === undefined) { return false; }
                $.cookie(key, '', $.extend({}, options, { expires: -1 })); return !$.cookie(key);
            };
        }));
        //]]></script>
    <script src="~/Content/V1/vendor/bootstrap/js/bootstrap.js.pagespeed.jm.OgklUIDj2m.js"></script>
    <script src="~/Content/V1/vendor/jquery.validate.js.pagespeed.jm.37t9D6To4j.js"></script>
    <script src="~/Content/V1/vendor/jquery.stellar.js.pagespeed.jm.T-XBSi7SSB.js"></script>
    <script src="~/Content/V1/vendor/jquery.knob.js.pagespeed.jm.4a4ZTBqbUx.js"></script>
    <script src="~/Content/V1/vendor/jquery.gmap.js.pagespeed.jm.zPAmeqlugq.js"></script>
    <script src="~/Content/V1/vendor/twitterjs/twitter.js.pagespeed.jm.nbV8hQsRTp.js"></script>
    <script src="~/Content/V1/vendor/isotope/jquery.isotope.js.pagespeed.jm.AJ7crCVXSW.js"></script>
    <script src="~/Content/V1/vendor/owl-carousel/owl.carousel.js.pagespeed.jm.9gcW631Fy8.js"></script>
    <script>
//<![CDATA[
        (function ($) {
            $.fn.jflickrfeed = function (settings, callback) {
                settings = $.extend(true, { flickrbase: 'http://api.flickr.com/services/feeds/', feedapi: 'photos_public.gne', limit: 20, qstrings: { lang: 'en-us', format: 'json', jsoncallback: '?' }, cleanDescription: true, useTemplate: true, itemTemplate: '<li><a href="{{image_b}}"><span class="thumbnail"><img alt="{{title}}" src="{{image_s}}" /></span></a></li>', itemCallback: function () { } }, settings); var url = settings.flickrbase + settings.feedapi + '?'; var first = true; for (var key in settings.qstrings) {
                    if (!first)
                        url += '&'; url += key + '=' + settings.qstrings[key]; first = false;
                }
                return $(this).each(function () {
                    var $container = $(this); var container = this; $.getJSON(url, function (data) {
                        $.each(data.items, function (i, item) {
                            if (i < settings.limit) {
                                console.log(settings.itemTemplate); if (settings.cleanDescription) {
                                    var regex = /<p>(.*?)<\/p>/g; var input = item.description; if (regex.test(input)) {
                                        item.description = input.match(regex)[2]
                                        if (item.description != undefined)
                                            item.description = item.description.replace('<p>', '').replace('</p>', '');
                                    }
                                }
                                item['image_s'] = item.media.m.replace('_m', '_s'); item['image_t'] = item.media.m.replace('_m', '_t'); item['image_m'] = item.media.m.replace('_m', '_m'); item['image'] = item.media.m.replace('_m', ''); item['image_b'] = item.media.m.replace('_m', '_b'); delete item.media; if (settings.useTemplate) {
                                    var template = settings.itemTemplate; for (var key in item) { template = template.replace('{{' + key + '}}', item[key]); }
                                    $container.append(template)
                                }
                                settings.itemCallback.call(container, item);
                            }
                        }); if ($.isFunction(callback)) { callback.call(container, data); }
                    });
                });
            }
        })(jQuery);
        //]]></script>
    <script src="~/Content/V1/vendor/magnific-popup/magnific-popup.js.pagespeed.jm.q2Ref-V0_b.js"></script>
    <script src="~/Content/V1/vendor/mediaelement/mediaelement-and-player.js"></script>
    <!-- Theme Initializer -->
    <script src="~/Content/V1/js/theme.plugins.js.pagespeed.jm.foKPiuWsd1.js"></script>
    <script src="~/Content/V1/js/theme.js.pagespeed.jm.qvFaLavVmO.js"></script>
    <!-- Current Page JS -->
    <script src="~/Content/V1/vendor/rs-plugin/js/jquery.themepunch.tools.min.js.pagespeed.jm.dshrAwyhSE.js"></script>
    <script src="~/Content/V1/vendor/rs-plugin/js/jquery.themepunch.revolution.js"></script>
    <script src="~/Content/V1/vendor/circle-flip-slideshow/js/jquery.flipshow.js.pagespeed.jm.AdvSMbL90r.js"></script>
    <script src="~/Content/V1/js/views/view.home.js.pagespeed.jm.a_I0Cis22R.js"></script>

    <!-- Custom JS -->
    
    
    <script src="~/Areas/CPanelAdmin/Content/js/toastr/toastr.js"></script>
    <script src="~/Areas/CPanelAdmin/Content/js/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/Modules/userModule.js"></script>
    @RenderSection("Scripts", false)
    
 
    <div id="mask"></div>
    
    <script type='text/javascript'>window._sbzq || function (e) { e._sbzq = []; var t = e._sbzq; t.push(["_setAccount", 10351]); var n = e.location.protocol == "https:" ? "https:" : "http:"; var r = document.createElement("script"); r.type = "text/javascript"; r.async = true; r.src = n + "//static.subiz.com/public/js/loader.js"; var i = document.getElementsByTagName("script")[0]; i.parentNode.insertBefore(r, i) }(window);</script>
</body>

</html>
