@{
    ViewBag.Title = "Danh sách khách hàng đang ở";
}


<div class="main-content" ng-app="appModule" ng-controller="CustomerController">
    <div>
        

        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) { }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="~/CPanelAdmin/AdminIndex">Trang chủ</a>
                </li>

                <li>
                    Khách hàng đang ở
                </li>

            </ul><!-- /.breadcrumb -->
            <div class="toolbar">
                <a class="btn btn-primary" href="" ng-click="ShowPopupAddCustomer()">
                    <i class="icon-plus"></i>
                    <span class="hidden-320">Thêm khách hàng</span>
                </a>
            </div>
        </div>
        <div class="page-content">
            <div class="page-content-container">
                <div class="row">
                    <div class="col-xs-12">

                        <div class="col-xs-12">
                            <div class="col-xs-12 no-padding">
                                <div class="form-group" style="overflow: hidden;">
                                    <div class="col-sm-12 no-padding-left">
                                        @*<div class="col-sm-3">
                                                <div class="input-group">
                                                    <input class="form-control date-picker" id="id-date" type="text" data-date-format="dd-mm-yyyy" placeholder="Chọn thời gian">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar bigger-110"></i>
                                                    </span>
                                                </div>

                                            </div>*@
                                        <div class="col-sm-3 no-padding-left">
                                            <input type="text" id="filter" name="txtSearch" value="" placeholder=" Nhập tên, mă hoặc SĐT khách hàng" class="col-xs-12 search-query ng-valid ng-dirty" ng-model="Filter.Keyword">
                                        </div>

                                        <div class="col-sm-3 no-padding-left no-padding-right">
                                            <div class="input-group" style="width:100%">

                                                <span class="padding-left-10">
                                                    <button id="btnSearch" class="btn btn-primary " ng-click="GetListCustomer()">
                                                        <i class="icon-search icon-on-right bigger-110"></i>
                                                        <span class="hidden-320">Tìm kiếm</span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="dataTables_wrapper" role="grid" ng-init="GetListCustomerCheckIn()">
                            <table class="table table-hover dataTable" id="list">
                                <thead>
                                    <tr role="row">
                                        <th>Stt</th>
                                        <th>Mã khách hàng</th>
                                        <th>Tên khách hàng</th>
                                        <th>Phòng</th>
                                        <th>Loại phòng</th>
                                        <th>Ngày vào</th>
                                        <th>Ngày ra (dự kiến)</th>
                                        <th>Điện thoại</th>
                                        <th>Email</th>
                                       
                                    </tr>
                                </thead>

                                <tbody style="border-bottom: none;">
                                    <tr ng-repeat="item in CustomerCheckIns">

                                        <td>{{$index+1}}</td>
                                        <td>{{item.Id}}</td>
                                        <td class="text-right">{{item.Name}}</td>
                                        <td class="hidden-480">
                                            <label class="no-padding-left">
                                                {{item.RoomName}}
                                            </label>

                                        </td>
                                        <td>{{item.RoomClassName}}</td>
                                        <td>{{item.CheckInDate|date:"dd/MM/yyyy HH:mm"}}</td>
                                        <td>{{item.CheckOutDate|date:"dd/MM/yyyy HH:mm"}}</td>
                                        <td>{{item.Mobile}}</td>
                                        <td>{{item.Email}}</td>                                      

                                        
                                    </tr>

                                </tbody>
                            </table>

                        </div>

                        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->


                    </div>
                </div>
            </div>
            <hr />
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <div class="pull-left">
                        <span>Tổng số khách hàng: </span><span class="total-highlight">{{Filter.Page.total}}</span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <paging class="small pull-right"
                            page="Filter.Page.currentPage"
                            page-size="Filter.Page.pageSize"
                            total="Filter.Page.total"
                            show-prev-next="true"
                            show-first-last="false"
                            paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
                    </paging>
                </div>
            </div>
        </div>

    </div>



    @{ Html.RenderPartial("_InvoiceByCustomer");  }
    @{ Html.RenderPartial("_ViewInvoiceDetail");  }
    @{ Html.RenderPartial("_AddOrUpdateCustomer");  }

</div>



@section Scripts {
    <script src="~/Areas/CPanelAdmin/Script/Customer/Customer.js"></script>
    <script src="~/Areas/CPanelAdmin/Script/Paging/paging.js"></script>
    <script src="~/Areas/CPanelAdmin/Content/js/daterangepicker.min.js"></script>
}