
<div class="container">
    <ul>
        <li><a href="#" title="">Quảng cáo</a> </li>
        <li><a href="#" title="">Doanh nghiệp</a> </li>
        <li><a href="#" title="">Giới thiệu</a> </li>
        <li><a href="#" title="">Cài đặt</a> </li>
        <li><a href="#" title="">Điều khoản</a> </li>
        <li><a href="#" title="">Bảo mật</a> </li>
    </ul>
</div>
