
@{
    ViewBag.Title = "_objectCamera";
}
@model MyFinance.Domain.BusinessModel.CameraDTO
<div class="col-sm-10">
    <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921"
            codebase="http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab"
            id="vlc"
            name="vlc"
            class="vlcPlayer"
            events="True">
        <param name="Src" value="rtsp://ksphamhoanglam.dyndns.org:554/user=admin&password=rtsp://ksphamhoanglam.dyndns.org:554/user=admin&password=" /> <!-- ie -->
        <param name="ShowDisplay" value="True" />
        <param name="AutoLoop" value="True" />
        <param name="AutoPlay" value="True" />
        <!-- win chrome and firefox-->
        
    </object>
    <embed id="vlcEmb" type="application/x-google-vlc-plugin" version="VideoLAN.VLCPlugin.2" autoplay="yes" loop="no" width="640" height="480" target="@ViewBag.LinkTarget" />
</div>

