
@{
    ViewBag.Title = "CameraDetail";
}
<div class="main-content">
    <div class="page-content">
        <div class="row">

            @{ Html.RenderAction("ViewCamera", "Hotel", null);}


        </div>

    </div>
</div>