
@{
    ViewBag.Title = "Index";
}

<body ng-app="appModule">
    <div ng-view></div>
</body>
@section scripts{
<script src="~/Areas/CPanelAdmin/Script/Room/Widget.js"></script>
<script src="~/Areas/CPanelAdmin/Script/Room/RoomType.js"></script>
}


