
@{
    Layout = null;
}
<div class="page-content">
    <div class="page-content-container">
        <div class="row">
            <div class="col-xs-12">


                <div class="dataTables_wrapper" role="grid" ng-init="InitWidget()">
                    <table class="table table-hover dataTable ng-scope ng-table" ng-table="tableParams" id="list">
                        <thead>
                            <tr role="row">
                                <th class="width-27px border hidden-480"></th>
                                <th class="border">Tên dịch vụ</th>
                                <th class="center border hidden-480">Giá nhập</th>
                                <th class="center border hidden-480">Giá bán</th>
                                <th class="center border ">SL nhập</th>
                                <th class="center width hidden-480">SL Xuất</th>
                                <th class="center border hidden-480">SL Tồn</th>
                                <th class="center border hidden-480">Ghi chú</th>
                                <th></th>

                            </tr>
                        </thead>

                        <tbody style="border-bottom: none;" class="ng-scope" ng-repeat="item in Widgets" ng-show="item.Widgets.length>0">
                            <tr class="green bg-success">
                                <td colspan="9">
                                    <i class="ace fa fa-star"></i> {{item.GroupName}}
                                </td>
                            </tr>

                            <tr style="cursor: pointer;" class="oddrow" ng-click="GetRoomclassRow(item.Id)" ng-repeat="row in item.Widgets">
                                <td class="hidden-480">
                                    <label class="no-padding-left">
                                        <input type="checkbox" class="ace ng-pristine" ng-model="row.IsSelected" ng-click="WidgetSelected(row)" ng-checked="row.IsSelected"><span class="lbl"></span>
                                    </label>
                                </td>
                                <td>

                                    {{row.Name}}
                                </td>

                                <td class="text-right">{{row.Price|number}}</td>
                                <td class="text-right">{{row.PricePaid|number}}</td>
                                <td class="text-right">
                                    {{row.NumImport|number}}

                                </td>
                                <td class="text-right">
                                    {{row.NumExport|number}}
                                </td>
                                <td class="text-right">
                                    {{row.Residual|number}}
                                </td>
                                <td class="center width-5 hidden-480">
                                    {{row.Note}}
                                </td>
                                <td class="center width-7">
                                    <div class="visible-md visible-lg hidden-sm hidden-xs">

                                        <a ng-click="GetWidgetById(row.Id)">
                                            <i class="ace-icon fa fa-pencil bigger-120" title="Sửa"></i>
                                        </a>
                                        <a ng-really-message="Bạn có chắc chắn muốn xóa  ?" ng-really-click="reallyDelete(item)" item="row">
                                            <i class="ace-icon fa fa-trash-o bigger-120" title="Xóa dịch vụ"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <!-- ngIf: p.productItems.length > 1 -->
                        </tbody><!-- end ngRepeat: p in params.data -->
                    </table>

                </div>


            </div>
        </div>
    </div>
    @*<div class="footer">
            <div class="pull-left">
                <span>Tổng số sản phẩm: </span><span class="total-highlight ng-binding"></span>

            </div>

        </div>*@

    @{ Html.RenderPartial("_AddWidget");  }
    @{ Html.RenderPartial("_AddGroupWidget");  }

    @{ Html.RenderPartial("_AddInvoice");  }
    @{ Html.RenderPartial("_AddInvoiceDetail");  }
</div>

