
<div id="RoomAvailable" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myLargeModalLabel">Danh sách phòng khả dụng </h4> 
            </div>
            <div class="modal-body">
                <div class="row">

                    <table id="simple-table" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                               
                                <th>Loại phòng</th>
                                <th>Giá</th>
                                <th>Tổng</th>                               
                                <th>Trống</th>
                            </tr>
                        </thead>

                        <tbody ng-repeat="item in RoomForCheckinMutil">
                            <tr>
                               

                                <td>
                                    {{item.Name}}
                                </td>
                                <td>{{item.Price}}</td>
                                <td>{{item.RoomTotal}}</td>                               

                                <td>{{item.RoomAvailable-item.Quanlity}}</td>

                            </tr>
                            <tr ng-show="item.Rooms.length>0">
                                <td colspan="6">
                                    <div ng-repeat="r in item.Rooms" class="room-avai">
                                        @*<label class="left" ng-show="r.RoomStatus!=1">
                                            <input type="checkbox" class="ace" ng-checked="r.Selected" ng-model="r.Id" ng-change="SelectedClick(item)">
                                            <span class="lbl">  {{r.Name}}  </span>
                                        </label>*@
                                        <label ng-show="r.RoomStatus!=1" class="room-avai">
                                            <input name="form-field-radio" type="radio" class="ace" ng-model="RoomIdChange" ng-value="r.Id" ng-change="RadioSelected(r.Id)" >
                                            <span class="lbl"> {{r.Name}}</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" ng-click="ChangeRoomInOrder()">Chọn</button>
                <button type="button" class="btn btn-default active" data-dismiss="modal">Hủy</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
